* 	{
 	box-sizing: border-box;
	}

.clearfix:after {
   content:"";
   display:block;
   clear:both;
	}


body{
	margin: 0 auto;
	width: 100%;
	}


header{
	width: 100%;
	height: 700px;
	background-image: url("header_bg.jpg");
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	}



h1{
	font-size: 24px;
	font-weight: bolder;
	
	padding-left: 100px;
	padding-top: 100px;
	color: #fff;
	}


h2{
	font-size: 24px;
	font-weight: normal;
	
	margin-top: 100px;
	width: 100%;
	text-align: center;
	color: #fff;
	}

.button{
	font-size: 24px;
	font-weight: bolder;
	color:#033048;
	background-color: #f9e42e;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
	margin:100px auto 0;
	text-align: center;
	}


.benefits{
	
	height: 500px;
	margin: auto;
	background-color:#f0efef;
	color: #606161;
	}

.button2{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	color:#033048;
	background-color: #f9e42e;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin-left: 750px;
	}

#titleCase{
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	font-size:40px;
	padding: 50px;
	margin: 0 auto;
	color: #000;
	}

#bQuote{
		font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	display: inline-block;
	width: 40%;
	margin-left: 50px;
	line-height: 1.4em;
	padding-bottom: 20px;
}

ul{
	list-style: square;
	clear: left;
	font-family: 'Open Sans', sans-serif;
	font-style:bolder; 
	font-size:20px;
	margin-left: 150px;
	line-height: 1.8em;

	}


.features{
	background-color:#f9e42e;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	}



.quoteBlock{
	height: 600px;
	background-image: url("testimonial_bg.jpg");
	color: #fff;
	}



.quote{
	padding: 70px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 1.4em;
	font-style: italic;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	}



.sig{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-style: bolder;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	}



.signup{
	border-top-width: 50px;
	padding: 40px 50px 20px 50px;
	height: 125px;
	background-color:#f9e42e;
	color: #000;
	}	



.bottomPage{
	height: 300px;
	background-color:#121212;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-style: bold;
	color: #fff;
	text-align: center;
	}



.one, .two, .three{
	background-color: #033048;
	width:200px;
	height:200px;

	margin:7%;
	display: inline-block;
	text-align: center;
	}



.sq-left, .sq-center, .sq-right{
	margin-top: 220px;
	}




.signupnow-Btn{
	font-size: 24px;
	font-weight: bolder;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	background-color: #033048;
	border-radius: 5px;
	padding: 10px;
	width: 25%;
	text-align: center;
	margin-left: 37%;
	}



#fBTM{
	color: #f9e42e;
	padding-top: 100px;
	padding-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	}



#cpy{
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 9px;
	font-weight: 600;
	}



.socialMedia{
	display: inline-block;
	padding: 10px
	}



